/* Webfont: InkedBloodRegular */@font-face {
    font-family: 'InkedBlood';
    src: url('Inked Blood.eot'); /* IE9 Compat Modes */
    src: url('Inked Blood.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Inked Blood.woff') format('woff'), /* Modern Browsers */
         url('Inked Blood.woff2') format('woff2'), /* Modern Browsers */
         url('Inked Blood.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

