/* Webfont: BubbleSlimeRegular */@font-face {
    font-family: 'BubbleSlime';
    src: url('Bubble Slime.eot'); /* IE9 Compat Modes */
    src: url('Bubble Slime.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Bubble Slime.woff') format('woff'), /* Modern Browsers */
         url('Bubble Slime.woff2') format('woff2'), /* Modern Browsers */
         url('Bubble Slime.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

