/* Webfont: EmpireUnionRegular */@font-face {
    font-family: 'EmpireUnion';
    src: url('Empire Union.eot'); /* IE9 Compat Modes */
    src: url('Empire Union.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Empire Union.woff') format('woff'), /* Modern Browsers */
         url('Empire Union.woff2') format('woff2'), /* Modern Browsers */
         url('Empire Union.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

